<div class="top">
    <p>デカ盛り好きの、デカ盛り好きによる、デカ盛り好きのための情報共有アプリ</p>
    <p>みんなのオススメ投稿しよう！！</p>
</div>
<div class="contents row">
  <% @cheats.each do |cheat| %>
    <div class="content_post">
    <%= image_tag cheat.image.variant(resize: '500x500'), class: 'cheat-image' if cheat.image.attached? %>
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
          <%= link_to '詳細', cheat_path(cheat.id), method: :get %>
          </li>
          <li>
            <%= link_to '編集', edit_cheat_path(cheat.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', cheat_path(cheat.id), method: :delete %>
          </li>
        </ul>
      </div>
      <p><%= cheat.name %></p>
      <span class="name">
        <a href="/users/<%= cheat.user.id %>">
          <span>投稿者</span><%= cheat.user.nickname %>
        </a>
      </span>
    </div>
    <%= cheat.explanation %>
    <%= cheat.category.name %>
    <%= cheat.area.name %>
    <%= cheat.volume.name %>
    <%= cheat.price.name %>
  <% end %>
</div>