<div class="contents row">
  <div class="content_post" style="background-image: url(<%= @cheat.image %>);">
    <div class="more">
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_cheat_path(@cheat.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', cheat_path(@cheat.id), method: :delete %>
        </li>
      </ul>
    </div>
    <p><%= @cheat.name %></p>
    <span class="name">
      <a href="/users/<%= @cheat.user.id %>">
        <span>投稿者</span><%= @cheat.user.nickname %>
      </a>
    </span>
  </div>
  <%= @cheat.explanation %>
</div>